@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }
}

[data-radix-popper-content-wrapper] {
  transform: translate(1330px, 31%) !important;
}
